header .mantine-Breadcrumbs-root {
  margin: 0;
  font-size: 0.8rem;
  .mantine-Text-root {
    color: white;
  }
}

.multi-select {
  width: 120px;
  .mantine-MultiSelect-value {
    margin: 1px;
  }
}
